@import 'assets/styles/variables';
@import 'assets/styles/mixin';

.spinner {
  display: block;
  position: relative;
  left: 45%;
  width: 50px;
  height: 50px;

  div {
    position: absolute;
    top: 20px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $secondary;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}
